spring:
  application:
    name: tracking-service
  cloud:
    stream:
      defaultBinder: kafka
      function:
        definition: shipmentCreatedFunction
      bindings:
        shipmentCreatedFunction-in-0:
          destination: shipment-topic
          content-type: application/json
          group: tracking-group  #shipment servis bir olay paylaştı ve bunu dinleyen her bir service bir kere işlesin
      kafka:
        binder:
          brokers: localhost
          defaultBrokerPort: 9092

  datasource:
    url: jdbc:postgresql://localhost:5435/tracking-service
    username: postgres
    password: test
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8888/eureka/
    register-with-eureka: true
    fetch-registry: true
